/*
	QRCodes
*/
/* line 5, ../scss/qrcode.scss */
#qrCode img {
  border: white solid 20px;
}

/* line 9, ../scss/qrcode.scss */
#url {
  text-align: center;
}

/* line 13, ../scss/qrcode.scss */
.qrCodeDirective {
  text-align: center;
}

/* line 17, ../scss/qrcode.scss */
.qrCodeDirective ul {
  list-style: none;
}

/* line 21, ../scss/qrcode.scss */
.qrCodeDirective img {
  margin: auto;
}

/* line 5, ../scss/player.scss */
#playersListScore li:first-child > div.playerScore > p {
  font-weight: 800;
  font-size: 16px;
}

/* line 10, ../scss/player.scss */
.playerAnswer {
  font-weight: bold;
}

/* line 14, ../scss/player.scss */
.playerShow {
  text-align: center;
  font-weight: bold;
}

/* line 18, ../scss/player.scss */
.player {
  position: relative;
  text-align: center;
  background-image: -moz-radial-gradient(45px 45px, #dddddd 10px, #ffffff 30px);
  background-image: -o-radial-gradient(45px 45px, #dddddd 10px, #ffffff 30px);
  background-image: -webkit-radial-gradient(45px 45px, #dddddd 10px, #ffffff 30px);
  background-image: radial-gradient(45px 45px, #dddddd 10px, #ffffff 30px);
  padding: 20px 10px;
  width: 150px;
  height: 160px;
  color: #fff;
  margin: 30px 30px;
  border-radius: 50px 50px 20px 20px / 10px 10px 60px 60px;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 1s;
  -ms-animation-delay: .2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-duration: 1s;
  -o-animation-delay: .2s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* line 60, ../scss/player.scss */
.player::before {
  position: absolute;
  background: #012792;
  background-image: -moz-linear-gradient(#012792, #012792 5%, #0192dd 10%, #0192dd 15%, #012792 20%, #0192dd 25%, #0192dd 30%, #012792 35%, #0192dd 40%, #0192dd 45%, #012792 50%, #0192dd 55%, #0192dd 60%, #012792 65%, #0192dd 70%, #0192dd 75%, #012792 80%, #0192dd 85%, #0192dd 90%, #012792 95%, #012792);
  background-image: -o-linear-gradient(#012792, #012792 5%, #0192dd 10%, #0192dd 15%, #012792 20%, #0192dd 25%, #0192dd 30%, #012792 35%, #0192dd 40%, #0192dd 45%, #012792 50%, #0192dd 55%, #0192dd 60%, #012792 65%, #0192dd 70%, #0192dd 75%, #012792 80%, #0192dd 85%, #0192dd 90%, #012792 95%, #012792);
  background-image: -webkit-linear-gradient(#012792, #012792 5%, #0192dd 10%, #0192dd 15%, #012792 20%, #0192dd 25%, #0192dd 30%, #012792 35%, #0192dd 40%, #0192dd 45%, #012792 50%, #0192dd 55%, #0192dd 60%, #012792 65%, #0192dd 70%, #0192dd 75%, #012792 80%, #0192dd 85%, #0192dd 90%, #012792 95%, #012792);
  background-image: linear-gradient(#012792, #012792 5%, #0192dd 10%, #0192dd 15%, #012792 20%, #0192dd 25%, #0192dd 30%, #012792 35%, #0192dd 40%, #0192dd 45%, #012792 50%, #0192dd 55%, #0192dd 60%, #012792 65%, #0192dd 70%, #0192dd 75%, #012792 80%, #0192dd 85%, #0192dd 90%, #012792 95%, #012792);
  content: '';
  border-radius: 29% / 100px;
  width: 110px;
  height: 74%;
  bottom: 10px;
  left: 50%;
  margin-left: -55px;
}

/* line 80, ../scss/player.scss */
.player p.inline {
  margin: 10px;
  width: 120px;
  background: #012792;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
}

/* line 91, ../scss/player.scss */
.player p.score {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -40px;
  left: 0;
}

/* line 99, ../scss/player.scss */
.player button {
  position: absolute;
  left: 0;
  bottom: -50px;
}

/* line 105, ../scss/player.scss */
.player button.btn-danger {
  left: inherit;
  right: 0;
}

/* line 111, ../scss/player.scss */
a.btnPush {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: #db5705;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  margin-top: 60px;
  margin-bottom: 60px;
  width: 160px;
  height: 1em;
  line-height: 1em;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

/* line 141, ../scss/player.scss */
a:active.btnPush, a.active.btnPush {
  -webkit-box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}

/* line 4, ../scss/game.scss */
.game {
  padding-top: 50px;
  height: 100%;
}
/* line 8, ../scss/game.scss */
.game img.tiny {
  width: 100px;
}
/* line 12, ../scss/game.scss */
.game .row:first-child {
  height: calc(100% - 300px);
  height: -webkit-calc(100% - 300px);
}
/* line 17, ../scss/game.scss */
.game img:not(.tiny) {
  max-height: 100%;
}
/* line 21, ../scss/game.scss */
.game .row {
  margin-bottom: 20px;
}
/* line 25, ../scss/game.scss */
.game button {
  font-size: 2em;
}
/* line 29, ../scss/game.scss */
.game .title {
  font-family: "RobotoRegular";
  margin-bottom: 100px;
  font-size: 4em;
}
/* line 36, ../scss/game.scss */
.game .parent-img {
  height: 100%;
}

/* line 3, ../scss/control.scss */
#control {
  padding-top: 50px;
}
/* line 6, ../scss/control.scss */
#control button {
  margin-bottom: 10px;
}

@font-face {
  font-family: "Brush Script";
  src: url("../assets/font/Brush-Script.eot");
  src: url("../assets/font/Brush-Script.eot?#iefix") format("embedded-opentype"), url("../assets/font/Brush-Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2013 02:59:18 AM America/New_York */
@font-face {
  font-family: 'RobotoRegular';
  src: url("../assets/font/Roboto-Regular-webfont.eot");
  src: url("../assets/font/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-Regular-webfont.woff") format("woff"), url("../assets/font/Roboto-Regular-webfont.ttf") format("truetype"), url("../assets/font/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url("../assets/font/Roboto-Italic-webfont.eot");
  src: url("../assets/font/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-Italic-webfont.woff") format("woff"), url("../assets/font/Roboto-Italic-webfont.ttf") format("truetype"), url("../assets/font/Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("../assets/font/Roboto-Bold-webfont.eot");
  src: url("../assets/font/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-Bold-webfont.woff") format("woff"), url("../assets/font/Roboto-Bold-webfont.ttf") format("truetype"), url("../assets/font/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url("../assets/font/Roboto-BoldItalic-webfont.eot");
  src: url("../assets/font/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-BoldItalic-webfont.woff") format("woff"), url("../assets/font/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("../assets/font/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("../assets/font/Roboto-Condensed-webfont.eot");
  src: url("../assets/font/Roboto-Condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-Condensed-webfont.woff") format("woff"), url("../assets/font/Roboto-Condensed-webfont.ttf") format("truetype"), url("../assets/font/Roboto-Condensed-webfont.svg#RobotoCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url("../assets/font/Roboto-CondensedItalic-webfont.eot");
  src: url("../assets/font/Roboto-CondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-CondensedItalic-webfont.woff") format("woff"), url("../assets/font/Roboto-CondensedItalic-webfont.ttf") format("truetype"), url("../assets/font/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url("../assets/font/Roboto-BoldCondensed-webfont.eot");
  src: url("../assets/font/Roboto-BoldCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-BoldCondensed-webfont.woff") format("woff"), url("../assets/font/Roboto-BoldCondensed-webfont.ttf") format("truetype"), url("../assets/font/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url("../assets/font/Roboto-BoldCondensedItalic-webfont.eot");
  src: url("../assets/font/Roboto-BoldCondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-BoldCondensedItalic-webfont.woff") format("woff"), url("../assets/font/Roboto-BoldCondensedItalic-webfont.ttf") format("truetype"), url("../assets/font/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url("../assets/font/Roboto-Thin-webfont.eot");
  src: url("../assets/font/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-Thin-webfont.woff") format("woff"), url("../assets/font/Roboto-Thin-webfont.ttf") format("truetype"), url("../assets/font/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url("../assets/font/Roboto-ThinItalic-webfont.eot");
  src: url("../assets/font/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-ThinItalic-webfont.woff") format("woff"), url("../assets/font/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("../assets/font/Roboto-ThinItalic-webfont.svg#RobotoThinItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("../assets/font/Roboto-Light-webfont.eot");
  src: url("../assets/font/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/Roboto-Light-webfont.woff") format("woff"), url("../assets/font/Roboto-Light-webfont.ttf") format("truetype"), url("../assets/font/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url("Roboto-LightItalic-webfont.eot");
  src: url("Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic-webfont.woff") format("woff"), url("Roboto-LightItalic-webfont.ttf") format("truetype"), url("Roboto-LightItalic-webfont.svg#RobotoLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("Roboto-Medium-webfont.eot");
  src: url("Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Medium-webfont.woff") format("woff"), url("Roboto-Medium-webfont.ttf") format("truetype"), url("Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url("Roboto-MediumItalic-webfont.eot");
  src: url("Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-MediumItalic-webfont.woff") format("woff"), url("Roboto-MediumItalic-webfont.ttf") format("truetype"), url("Roboto-MediumItalic-webfont.svg#RobotoMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url("Roboto-Black-webfont.eot");
  src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Black-webfont.woff") format("woff"), url("Roboto-Black-webfont.ttf") format("truetype"), url("Roboto-Black-webfont.svg#RobotoBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url("Roboto-BlackItalic-webfont.eot");
  src: url("Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-BlackItalic-webfont.woff") format("woff"), url("Roboto-BlackItalic-webfont.ttf") format("truetype"), url("Roboto-BlackItalic-webfont.svg#RobotoBlackItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 212, ../scss/font.scss */
.question-pour-un-champion {
  font-family: "Brush Script";
  direction: ltr;
}

/* line 218, ../scss/font.scss */
body {
  font-family: 'RobotoCondensed';
  color: white;
}

/* line 10, ../scss/main.scss */
html, body {
  background-image: -moz-linear-gradient(#012792, #0192dd);
  background-image: -o-linear-gradient(#012792, #0192dd);
  background-image: -webkit-linear-gradient(#012792, #0192dd);
  background-image: linear-gradient(#012792, #0192dd);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 18, ../scss/main.scss */
html input, body input {
  color: black;
}

/* The white background content wrapper */
/* line 25, ../scss/main.scss */
.content {
  height: 100%;
  margin: 0 20px;
  min-height: 10px;
}

/* line 31, ../scss/main.scss */
.form-player {
  width: 100%;
}

/* Page header tweaks */
/* line 36, ../scss/main.scss */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* line 42, ../scss/main.scss */
.topbar .container {
  width: auto;
  /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* line 46, ../scss/main.scss */
.center {
  margin: 0px auto;
}

/* line 49, ../scss/main.scss */
#logo {
  margin: 0px auto;
}

@media screen and (max-width: 650px) {
  /* line 54, ../scss/main.scss */
  #logo {
    width: 200px;
  }
}
/* line 60, ../scss/main.scss */
.main, .admin {
  height: 100%;
  padding-top: 50px;
}
/* line 64, ../scss/main.scss */
.main img, .admin img {
  max-height: 80%;
  max-width: 80%;
}

/*# sourceMappingURL=main.css.map */