@font-face {
    font-family: "Brush Script";
    src: url('../assets/font/Brush-Script.eot');
    src: url('../assets/font/Brush-Script.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/Brush-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.question-pour-un-champion{
    font-family: "Brush Script";
    direction: ltr;
}