@import "compass";
@import "compass/css3";
@import "color";
@import "qrcode";
@import "player";
@import "game";
@import "control";
@import "font";

html, body {
    @include background-image(linear-gradient($color-stop-2, $color-stop-1));
    //background-color: $bg-color;
    width: 100%;
    height: 100% ;
    margin: 0;
    padding:0;

    input{
        color: black;
    }
}


/* The white background content wrapper */
.content {
    height: 100%;
    margin: 0 20px;
    min-height: 10px;
}

.form-player{
	width: 100%;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

.topbar .container {
    width: auto; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.center {
    margin: 0px auto;
}
#logo {
    margin: 0px auto;	
}

@media screen and (max-width: 650px) {
	#logo {
		width: 200px;
	}
}


.main, .admin{
    height: 100%;
    padding-top: 50px;

    img{
        max-height:80%;
        max-width:80%;


    }
}
