@import "compass";
@import "compass/css3";


#playersListScore li:first-child>div.playerScore>p{
	font-weight: 800;
	font-size: 16px;
}

.playerAnswer{
	font-weight: bold;
}

.playerShow {
	text-align: center;
	font-weight: bold;
}

.player {
	position: relative;
	text-align: center;
	width: 150px;
	height: 50px;
	color: #fff;
	margin: 30px 30px;
	margin-bottom: 60px;
	font-weight: bold;
}

.player-screen{
	.row{
		margin-bottom: 20px;
	}
}

.game{

	.player {
		position: relative;
		text-align: center;
		@include background-image(radial-gradient(45px 45px, #dddddd 10px, white 30px));
		padding: 20px 10px;
		width: 150px;
		height: 160px;
		color: #fff;
		margin: 30px 30px;
		margin-bottom: 60px;
		border-radius: 50px 50px 20px 20px / 10px 10px 60px 60px;
		font-weight: bold;
		
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		
		-webkit-animation-duration: 1s;
		-webkit-animation-delay: .2s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: 1s;
		-moz-animation-delay: .2s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: both;
		-ms-animation-duration: 1s;
		-ms-animation-delay: .2s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: both;
		-o-animation-duration: 1s;
		-o-animation-delay: .2s;
		-o-animation-timing-function: ease;
		-o-animation-fill-mode: both;
		animation-duration: 1s;
		animation-delay: .2s;
		animation-timing-function: ease;
		animation-fill-mode: both;
	}

	.playerParent.animated.flash.index-0 .player{
		@include background-image(radial-gradient(45px 45px, #dddddd 10px, #93C47D 30px));
	}

	.playerParent.animated.flash:not(.index-0) .player{
		@include background-image(radial-gradient(45px 45px, #dddddd  10px, #C47D7D 30px));
	}

	.playerParent.animated.flash:not(.index-0).treat .player{
		@include background-image(radial-gradient(45px 45px, #dddddd  10px, #8A2D2D 30px));
	}

	.player::before{ 
		position: absolute;
		background: #012792;
		@include background-image(linear-gradient(#012792, #012792 5%
			, #0192dd 10%, #0192dd 15%, #012792 20%
			, #0192dd 25%, #0192dd 30%, #012792 35%
			, #0192dd 40%, #0192dd 45%, #012792 50%
			, #0192dd 55%, #0192dd 60%, #012792 65%
			, #0192dd 70%, #0192dd 75%, #012792 80%
			, #0192dd 85%, #0192dd 90%, #012792 95%
			, #012792));
		content: '';
		border-radius: 29% / 100px;
		width: 110px;
		height: 74%;
		bottom: 10px;
		left: 50%;
		margin-left: -55px;
	}
}

.player p.inline {
	margin: 10px;
	width: 120px;
	background: #012792;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -60px;
}

.player p.score{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -40px;
	left: 0;
}

.player button{
	position: absolute;
	left: 0;
	bottom: -50px;
}

.player button.btn-danger{
	left: inherit;
	right: 0;
}


a.btnPush{
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin-top: 60px;
    margin-bottom: 60px;
	width: 160px;
	height: 1em;
	line-height: 1em;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

a:active.btnPush, a.active.btnPush {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

