/*
	QRCodes
*/

#qrCode img{
	border : white solid 20px;
}

#url{
	text-align: center;
}

.qrCodeDirective{
	text-align: center;
}

.qrCodeDirective ul{
	list-style: none;
}

.qrCodeDirective img{
	margin: auto;
}