@import "compass";
@import "compass/css3";

$noir-sqli : rgb(17,18,17);
$rouge-sqli : rgb(218,14,26);
$gris-sqli : rgb(99,99,99);

$header-height : 70px;

html, body {
    background: white;
    color:$noir-sqli;
}

body{
	padding-top: $header-height;
	@include background-image(linear-gradient($rouge-sqli, $rouge-sqli $header-height
			, white $header-height, white));
}

body:before{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: $header-height;
	text-align:center;
	content:'TSG 4 ANS !';
	font-size:2em;
	line-height:$header-height;
	color: white;
}

a{
	color:$rouge-sqli;	
}


.game button, .game button:hover, .game button:active, .game button:focus, 
.main button, .main button:hover, .main button:active, .main button:focus, 
.player-screen button, .player-screen button:hover{
	background-color : $gris-sqli;
	border-color : darken($gris-sqli, 10%);
}

.player-screen button:active, .player-screen button:focus{
	background-color : darken($gris-sqli,20%);
	border-color : darken($gris-sqli, 30%);	
}

.player-screen button.btn-success, .player-screen button.btn-success:hover, .player-screen button.btn-success:active, .player-screen button.btn-success:focus,
.game button.btn-success, .game button.btn-success:hover, .game button.btn-success:active, .game button.btn-success:focus{
	background-color : $rouge-sqli;
	border-color : darken($rouge-sqli,10%);
}

.classement{
	font-size: 1.3em;
	height: 900px;
	overflow-y: auto;
	margin-top: -40px;
}

.classement .row:nth-child(odd):not(.header-classement){
	background-color: $gris-sqli;
	color:white;
}

.classement .row:nth-child(2):not(.header-classement){
	font-size:2em;
}

.classement.winner .row:nth-child(2):not(.header-classement){
	font-size:2em;
	font-weight: 800;
	background-color: #DAA520; // color gold
}

.classement.winner .row:nth-child(3):not(.header-classement){	
	background-color: #C0C0C0; // color silver
}

.classement.winner .row:nth-child(4):not(.header-classement){
	background-color: #CD7F32; // color bronze
}

.classement.winner .row:last-child:not(.header-classement){
	background-color: $noir-sqli;
	color: white;
}

.classement.winner .row:nth-child(3):not(.header-classement),
.classement.winner .row:nth-child(4):not(.header-classement),
.classement.winner .row:last-child:not(.header-classement){
	font-weight: 800;
	font-size: 1.5em;
}


.classement .row:not(.header-classement){
	margin-bottom: 0;
	height: 1.8em;
	line-height: 1.8em;
}

.game .classement .row.header-classement{
	font-size: 1.8em;
	background-color: $noir-sqli;
	color: white;
	font-weight: 800;
	height:auto;
}

.game .timer.alert{
	color : $rouge-sqli;
}