<div class="row">    
	<div class="page-header">
        <h1>Admin</h1>
    </div>
    <div class="row">
    	<div class="center">
    		<div id="divLogo">
		    	<img id="logo" src="assets/images/question_pour_logo.jpg" class="img-rounded" width="400"/>
    		</div>
    	</div>
    </div>
    <div class="row">
		    
		    <form name="form" novalidate class="form-inline">
		    	<input name="login" ng-model='admin.login' class="input-small" type="text" placeholder="Login" autocomplete="off" required>
		    	<input name="password" ng-model='admin.password' class="input-small" type="password" placeholder="Password" autocomplete="off" required>
		        <button ng-disabled="form.$invalid" class="btn" type="submit" value="Log" ng-click='connect()' >Connexion</button>		    	
		    </form>
		     
	</div>
		    
	    
</div>