<div id="control">
    <div class="container">
        <button type="button" class="btn btn-success btn-lg btn-block center-block" id="navNext" ng-click="startGame()" ng-hide="gameInProgress">Commencer une partie</button>
        <button type="button" class="btn btn-primary btn-lg btn-block center-block" id="navNext" ng-click="goNext()" ng-show="gameInProgress">Question suivante</button>
        <!--<button type="button" class="btn btn-primary btn-lg btn-block center-block" id="navPrev" ng-click="goPrevious()" ng-show="gameInProgress">Question précédente</button>
        <button type="button" class="btn btn-warning btn-lg btn-block center-block" id="navStopMusic" ng-click="toggleMusic()" ng-bind="textToggleMusic" ng-show="gameInProgress"></button>
        <button type="button" class="btn btn-warning btn-lg btn-block center-block" id="navRAZ" ng-click="RAZReponses()" ng-show="gameInProgress">RAZ réponses</button>-->
        <button type="button" class="btn btn-primary btn-lg btn-block center-block" id="navAllowResp"  ng-click="allowResp()" ng-show="gameInProgress">Autoriser réponses</button>
        <button type="button" class="btn btn-danger btn-lg btn-block center-block" id="navRAZ" ng-click="RAZUtilisateurs()" ng-show="gameInProgress">Nettoyage utilisateurs</button>
    </div>
    <div ng-show="currentQuestion" class="row">
        <h1> Question : </h1>
        <h2 ng-bind-html="currentQuestion.title"></h2>
        <h1> Réponse : </h1>
        <h2 ng-bind-html="currentQuestion.answer"></h2>
    </div>

    <div class="row">
     	<div class="col-md-12"> 
           <div class="row">
	    	  <div class="playerShow col-xs-4" ng-repeat="aPlayer in playerArray | orderBy:'index' | limitTo:10">
    		     <div class="playerParent" ng-class="{'animated flash' : aPlayer.answer}"  id="{{aPlayer.id}}">
    		       <div class="player" >
    		          <p ng-bind="aPlayer.pseudo" class="inline"></p>
		              <button ng-hide="aPlayer.anwserTreat" class="btn btn-success btnPlayers inline" id="btn{{aPlayer.id}}" ng-click="clickBtnValider(aPlayer);">&#10004;</button>
		              <button ng-hide="aPlayer.anwserTreat" class="btn btn-danger btnPlayers inline" id="btnR{{aPlayer.id}}" ng-click="clickBtnRefuser(aPlayer);">&#10008;</button>
    		       </div>
    		     </div>
    		   </div>
            </div>
    	</div>
    </div>
</div>