<div>
    <div class="row container">
        <div class="col-md-6" ng-hide="startGame">          
            <h1>Rejoignez la partie : </h1>  
            <qrcodes></qrcodes>
        </div>
     	<div class="col-md-2">
	       <h2>Classement des joueurs</h2>
		    <ol id="playersListScore">
		     	<li ng-repeat="aPlayer in playerArray | orderBy:'-score' | limitTo:5">
	    		   <div class="playerScore">
	    		      <p id="pt{{aPlayer.id}}" ng-bind-template="{{aPlayer.pseudo}} : {{aPlayer.score}}"></p>
	    		    </div>
	    		</li>
		    </ol>
     	</div>
        <div class="col-md-10" ng-show="startGame">            
            <pdf-presentation curent-page='curentPage' nb-pages='nbPages' raz="RAZReponses()"></pdf-presentation>
        </div>
    </div>
    <div class="row container" ng-show="startGame">
     	<div class="col-md-9"> 
	       <h2>Réponses des joueurs</h2>
           <div class="row">
	    	  <div class="playerShow cold-md-3" ng-repeat="aPlayer in playerArray | orderBy:'index' | limitTo:10" ng-show="aPlayer.answer">
    		     <div class="playerParent" ng-class="{'animated flash' : aPlayer.answer}"  id="{{aPlayer.id}}">
    		       <div class="player" >
    		          <p ng-bind="aPlayer.pseudo" class="inline"></p>
		              <!--<button ng-hide="aPlayer.anwserTreat" class="btn success btnPlayers inline" id="btn{{aPlayer.id}}" ng-click="clickBtnValider(aPlayer);">&#10004;</button>
		              <button ng-hide="aPlayer.anwserTreat" class="btn danger btnPlayers inline" id="btnR{{aPlayer.id}}" ng-click="clickBtnRefuser(aPlayer);">&#10008;</button>-->
    		       </div>
    		     </div>
    		   </div>
            </div>
    	</div>
    </div>
</div>