<div class="main">	    
	<img src="./assets/images/logo_question_pour_devfest.png" class="center-block"/>
	<div class="form-player">
	    <p><h3>Pseudo nouveau joueur<h3></p>		    
	    <form novalidate class="form-inline center">
	    	<input id="pseudo" name="pseudo" ng-model='player.pseudo' class="input-small" type="text" placeholder="Pseudo" required>
	        <button ng-disabled="form.$invalid" class="btn btn-warning" ng-click='addPlayer()' >Ajouter</button>
	    </form>
    </div>
</div>