@(loginForm: Form[LoginPwd])

@import helper._

@main("Admin") {
    
    
    	 <div class="page-header">
	        <h1>Admin</h1>
	    </div>
	    <div class="row">
	    	<div class="center">
	    		<div id="divLogo">
			    	<img id="logo" src="@routes.Assets.at("images/logo_jeux.png")" class="img-rounded" width="400"/>
	    		</div>
	    	</div>
	    </div>
	    <div class="row">
		    
		     @form(routes.Application.connectAdminGame(), args = 'class -> "form-inline") {

		    	<input id="login" name="login" class="input-small" type="text" placeholder="Login">
		    	<input id="password" name="password" class="input-small" type="password" placeholder="Password">
		        <button class="btn" type="submit" value="Log" >Connexion</button>
	
		    }
		     
		     
	    </div>
	    
	      <script type="text/javascript" charset="utf-8">
    
        $(function() {
        	$("#navStopMusic").hide();
            $("#navRAZ").hide();
            $("#navNext").hide();
            $("#navPrev").hide();
            
        })
    
    </script>
    
    
}