@(players: List[Player])


@main("Jeux") {
    
    
    	 <div class="page-header">
		    <div class="row">
		    	<div class="center">
		    		<div id="divLogo">
			    	 	<canvas id="the-canvas" width="400"></canvas>
			    	</div>
			  	</div>
		    </div>
	    </div>
	     <div class="row">
		    <h2>Classement des joueurs</h2>
			    <ol id="playersListScore">
			    </ol>
		    <h2>Réponses des joueurs</h2>
		    <ul id="playersList" class="nav nav-pills">
		    </ul>
	    </div>
	     <div class="row">
		    <h3>Contrôles du jeu</h3>
	    	<div class="center">
	    		<div id="divLogo">
	    			<div style="width:400px">
		    	 		<button id="prev" class="btn btn-inverse" onclick="goPrevious()">Question précédente</button> 
		    	 		<button id="next" class="btn btn-inverse" onclick="goNext()">Question suivante</button>			    
			    		<span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
	    			</div>
	    			<div style="width:400px">
			    	 	<button id="stopMusic" class="btn btn-inverse" onclick="toggleMusic()">Stopper la musique</button>			    
			    	 	<button id="raz" class="btn btn-inverse" onclick="RAZReponses()">RAZ réponses</button>			    
	    			</div>
		    	 </div>
		  	</div> 
	    </div>
	    <div style="visibility: hidden;">
		    	<audio id="jeopardySong" src="@routes.Assets.at("media/Jeopardy.mp3")" autoplay="autoplay" />		    	
		</div>
	        
    
    <script type="text/javascript" charset="utf-8">
    
    	var scoreMap = new Array();
    	var scoreArray = new Array();
    	var musicOn = true;
    
    	function hideBtns(){
            $(".btnPlayers").each(function(btn){
            	$(this).hide();
            })
        }
    	
    	function toggleMusic(){
    		musicOn = !musicOn;
    		if (musicOn){
    			$('#jeopardySong').get(0).play();
    		}else{
    			$('#jeopardySong').get(0).pause();
            	$('#jeopardySong').get(0).currentTime = 0;
    		}
    		$('#musicSwitch').removeClass().addClass(musicOn ? 'icon-volume-up' : 'icon-volume-off');
    	}
    	
    	function initPlayers(){
			 scoreMap = new Array();    			 
			 scoreArray = new Array();    			 
    		 @for(player <- players) {
    			 scoreMap['@player.id'] = {'pseudo' :'@player.pseudo', 'score':0};
    			 scoreArray.push('@player.id');
    		 }
    	}
    
	    function clickBtnValider(btn){
	    	$('#reponse').get(0).play();
	    	var id = btn.getAttribute("id").substring(3);
	    	var text = $('#pt'+id).text(); 
	    	scoreMap[id].score = scoreMap[id].score+1;
	    	$('#pt'+id).replaceWith('<p id="pt'+id+'">'+id+' : '+scoreMap[id].score+'</p>');
        	
			RAZReponses();        	
	    }
	    
	    function RAZReponses(){
	    	var remplacementPlayerList = '';
	    	remplacementPlayerList += '<ul id="playersList" class="nav nav-pills">';
	    	remplacementPlayerList += '</ul>';
	    	$('#playersList').replaceWith(remplacementPlayerList);
	    	
	    	initScorePlayersArea();
	    	hideBtns();
	    	
	    }
	    
	    function sortScoreMap(){
	    	var permutation = false;
	    	do{
	    		permutation = false;
	    		for(var i = 0; i <= scoreArray.length -2; i++){
	    			if (scoreMap[scoreArray[i]].score < scoreMap[scoreArray[i+1]].score){
	    				var tmp = scoreArray[i];
	    				scoreArray[i] = scoreArray[i+1];
	    				scoreArray[i+1] = tmp;
	    				permutation = true;
	    			}
	    		}
	    		
	    	}while (permutation);
	    	
	    }
	    
	    function initPlayersArea(){
	    	var remplacementPlayerList = '';
	    	remplacementPlayerList += '<ul id="playersList" class="nav nav-pills">';
	    	for (var playerId in scoreMap){
	    		remplacementPlayerList += ' <li>';
	    		remplacementPlayerList += '   <div class="playerShow">';
	    		remplacementPlayerList += '      <div class="playerParent" id="'+playerId+'">';
	    		remplacementPlayerList += '        <div class="player" >';
	    		remplacementPlayerList += '          <p >'+scoreMap[playerId].pseudo+'</p>';
	    		remplacementPlayerList += '            <button class="btn btn success btnPlayers" id="btn'+playerId+'" onclick="clickBtnValider(this);">Valider ?</button>';
	    		remplacementPlayerList += '        </div>';
	    		remplacementPlayerList += '      </div>';
	    		remplacementPlayerList += '      <div>';
	    		remplacementPlayerList += '        <audio id="buzz'+playerId+'" src="@routes.Assets.at("media/buzz.mp3")" style="hidden"/>';
	    		remplacementPlayerList += '      </div>';
	    		remplacementPlayerList += '    </div>';
	    		remplacementPlayerList += '  </li>';
	    	}
	    	remplacementPlayerList += '</ul>';
	    	$('#playersList').replaceWith(remplacementPlayerList);
	    	hideBtns();
	    }
	    
	    function appendPlayerReponse(playerId){
	    	var remplacementPlayerList = '';
    		remplacementPlayerList += ' <li>';
    		remplacementPlayerList += '   <div class="playerShow">';
    		remplacementPlayerList += '      <div class="playerParent" id="'+playerId+'">';
    		remplacementPlayerList += '        <div class="player" >';
    		remplacementPlayerList += '          <p >'+scoreMap[playerId].pseudo+'</p>';
    		remplacementPlayerList += '            <button class="btn btn success btnPlayers" id="btn'+playerId+'" onclick="clickBtnValider(this);">Valider ?</button>';
    		remplacementPlayerList += '        </div>';
    		remplacementPlayerList += '      </div>';
    		remplacementPlayerList += '      <div>';
    		remplacementPlayerList += '        <audio id="buzz'+playerId+'" src="@routes.Assets.at("media/buzz.mp3")" style="hidden"/>';
    		remplacementPlayerList += '      </div>';
    		remplacementPlayerList += '    </div>';
    		remplacementPlayerList += '  </li>';
	    	$('#playersList').append(remplacementPlayerList);
	    	hideBtns();
	    }
	    
	    function initScorePlayersArea(){
	    	sortScoreMap();
	    	var remplacementPlayerList = '';
	    	remplacementPlayerList += '<ol id="playersListScore">';
	    	var compt = 0;
	    	var playerId = null;
	    	for (var index in scoreArray){
	    		playerId = scoreArray[index];
	    		remplacementPlayerList += ' <li>';
	    		remplacementPlayerList += '   <div class="playerScore">';
	    		remplacementPlayerList += '      <p id="pt'+playerId+'">'+scoreMap[playerId].pseudo+' : '+scoreMap[playerId].score+'</p>';
	    		remplacementPlayerList += '    </div>';
	    		remplacementPlayerList += '  </li>';
	    		compt+=1;
	    		if (compt >= 5){
	    			break;
	    		}
	    	}
	    	if (scoreArray.length > 5){
	    		remplacementPlayerList += ' <li>';
	    		remplacementPlayerList += '   <div class="playerScore">';
	    		remplacementPlayerList += '      <p>'+scoreArray.length+' joueurs en course</p>';
	    		remplacementPlayerList += '    </div>';
	    		remplacementPlayerList += '  </li>';
	    	}
	    	remplacementPlayerList += '</ol>';
	    	$('#playersListScore').replaceWith(remplacementPlayerList);
	    }
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	        var chatSocket = new WS("@routes.Application.initWebSocketGame().webSocketURL(request)")
            
            
            var receiveEvent = function(event) {
            	var data = JSON.parse(event.data);
            	if (data.type ==="response"){
            		
            		if (musicOn){
            			$('#jeopardySong').get(0).pause();
                    	$('#jeopardySong').get(0).currentTime = 0;
            		}
	            	var userId = data.id;
	            	//var user = event.data;
	            	if ($('#'+userId).length==0){
	            		appendPlayerReponse(userId);
	            		$('#buzz'+userId).get(0).play();
	            	}
	            	
	            	$('.playerParent').each(function(userDiv){
	            		
	            		if ($(this).attr("id") === userId){
	            			//$(this).addClass("playerAnswer");
	            			$(this).removeClass().addClass("playerParent animated flash");
	            			var el = $(this);
	            			var wait = window.setTimeout( function(){
	            				el.removeClass().addClass("playerParent");
	            				$('#btn'+userId).show();
	            				},
	            				1300
	            			);
	            		}else{
	            			$(this).removeClass().addClass("playerParent");	
	            		}
	            	});
            	}else if (data.type ==="register"){
            		scoreMap[''+data.id] = {'pseudo':data.data, 'score':0};
            		scoreArray.push(''+data.id);
            		//initPlayersArea();
            		initScorePlayersArea();
            		var user = data.id;
            		chatSocket.send(JSON.stringify({type:"registerDone", id:user}))
            	}
            	
            }
                     
            
            chatSocket.onmessage = receiveEvent;
            initPlayers();
            initPlayersArea();
            initScorePlayersArea();
            hideBtns();
            
        });
        
        
        //PDF Configuration 
        
		var url = '@routes.Assets.at("files/KeyNote.pdf")';
    	
    	//
        // Disable workers to avoid yet another cross-origin issue (workers need the URL of
        // the script to be loaded, and currently do not allow cross-origin scripts)
        //
        PDFJS.disableWorker = true;
        
        var pdfDoc = null,
        pageNum = 1,
        scale = 0.7,
        canvas = document.getElementById('the-canvas'),
        ctx = canvas.getContext('2d');

    //
    // Get page info from document, resize canvas accordingly, and render page
    //
    function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        page.render(renderContext);
      });

      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      document.getElementById('page_count').textContent = pdfDoc.numPages;
    }

    //
    // Go to previous page
    //
    function goPrevious() {
      if (pageNum <= 1)
        return;
      pageNum--;
      renderPage(pageNum);
    }

    //
    // Go to next page
    //
    function goNext() {
      if (pageNum >= pdfDoc.numPages)
        return;
      pageNum++;
      renderPage(pageNum);
      if (musicOn){
	      $('#jeopardySong').get(0).play();
      }
    	  
    }

    //
    // Asynchronously download PDF as an ArrayBuffer
    //
    PDFJS.getDocument(url).then(function getPdfHelloWorld(_pdfDoc) {
      pdfDoc = _pdfDoc;
      renderPage(pageNum);
    });
    
    </script>
<!--

//-->
</script>
    
}