@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animate.min.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/pdfjs/pdf.js")" type="text/javascript"></script>
    </head>
    <body>
    	 <div class="topbar">
            <div class="fill">
                <div class="container">
                <a class="brand" href="@routes.Application.index()">
                    Question pour un DevFest 
                </a>
            </div>
          </div>
        </div>
        <div class="container">
        	<div class="content">
	        	@content
        	</div>
        	<div id="songs" style="visibility: hidden;">
		    	<audio id="jeopardySong" src="@routes.Assets.at("media/Jeopardy.mp3")" />
		    	<audio id="buzz" src="@routes.Assets.at("media/buzz.mp3")" />
		    	<audio id="reponse" src="@routes.Assets.at("media/reponse.mp3")" />
		    </div>
        </div>
    </body>
</html>
