@(player: Player)


@main("Joueur") {
    
    
    <div class="container">
	    <div id="divLogo">
	    	<div>
		    	<h1>Joueur :@player.pseudo</h1>
		    	<p>Appuyez sur le bouton "Réponse" pour répondre.
		    	</p>
	    	</div>
	 	   <a id="reponse" class="btnPush" href="#">Réponse ! </a>
	    </div>	    
    </div>
    
     <script type="text/javascript" charset="utf-8">
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	        var chatSocket = new WS("@routes.Application.websocketPlayer(player.id).webSocketURL(request)")
            
            var sendMessage = function() {
                chatSocket.send(JSON.stringify({type:"response", id:"@player.id", data:"@player.pseudo"}));
                
            }
            var receiveEvent = function(event) {
            	var data = JSON.parse(event.data);
            	if (data.type ==="registerDone" && ''+data.id === "@player.id"){
            		$("#reponse").show();  
            	}
                
            }
            
            chatSocket.onmessage = receiveEvent;
            
            $("#reponse")[0].onclick = sendMessage;  
            $("#reponse").hide();  
            
            $("#navStopMusic").hide();
            $("#navRAZ").hide();
            $("#navNext").hide();
            $("#navPrev").hide();
            
        })
    
    </script>
    
    
}