@(players: List[Player], playerForm: Form[Player])

@import helper._

@main("Jeux") {
    
    
    	 <div class="page-header">
	        <h1>Bienvenue dans le grand jeux </h1>
	    </div>
	    <div class="row">
	    	<div class="center">
	    		<div id="divLogo">
			    	<img id="logo" src="@routes.Assets.at("images/logo_jeux.png")" class="img-rounded" width="400"/>
	    		</div>
	    	</div>
	    </div>
	    <div class="row">
		    <h2>Liste des joueurs inscrits</h2>
		    <ul>
		        @for(player <- players) {
		            <li>
		                @player.pseudo
		                
		            </li>
		        }
		    </ul>
		    
		    <p>Ajouter un nouveau joueur</p>
		    
		     @form(routes.Application.newPlayer()) {

		        @inputText(playerForm("pseudo")) 
	
		        <button class="btn" type="submit" value="Create" >Ajouter</button>
	
		    }
		    <!-- 
		    <form action="@routes.Application.newPlayer()" class="form-inline">
		    	<input id="pseudo" name="pseudo" class="input-small" type="text" placeholder="Pseudo">
                <button class="btn" type="submit">Ajouter</button>
		    </form>
		     -->
		    
		    <div class="center">
		    <a class="btn btn-inverse" href="@routes.Application.startGame()" >Demarrer le jeux</a>
		    <a id="playMusique">Play</a>
		    </div>
		    <!-- 
		    <a class="btn btn-inverse" onclick="@routes.Application.newPlayer()" action="/game/start">Demarrer le jeux</a>
		     -->
	    </div>
    
    <script type="text/javascript">
    	$('body').on('click', '#playMusique', function(e){
    		$('#buzz')[0].play();
    	});
    </script>
<!--

//-->
</script>
    
}